<head>
    <link rel="stylesheet" type="text/css" href="/wayki/header.css">
</head>

<div id="header">
    <a href="https://trimental.github.io/wayki">
        <img id="header-img" src="/wayki/images/WaylandLogo.svg">
        <h1 id="title">Wayki</h1>
    </a>
    <div id="menu">
        <a href="https://trimental.github.io/wayki">Home</a>
        <a href="wiki">Wiki</a>
    </div>
</div>


<title> Wayland Wiki </title>


