@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url("https://fonts.googleapis.com/css?family=Roboto");

$font-stack: 'Poppins', sans-serif;
$primary-color: #FEFEFE;

$title-font: 'Fredoka One', cursive;
$title-color: white;

body {
    font: 100% $font-stack;
    color: $primary-color;
    margin:0;
    padding:0;
    background-color: #4a4a4a;
}

#header {
    list-style-type: none;
    background-color: #000000;
    height: 6%;
    min-height: 2.5em;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

#menu {
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
}

#menu a {
    text-decoration: none;
    font: 1.1em $font-stack;
    color: $title-color;
    padding-right: 20px;
}

#menu a:hover {
    text-decoration: underline;
}

#header-img {
    width: 2em;
    height: 2em;
    margin-left: 10px;
    padding-right: 5px;
    margin-top: 10px;
    vertical-align: top;
}

#title {
    color: $title-color;
    font: 1.7em $title-font;
    margin-top: 10px;
    display: inline-flex;
}

#title_link {
    text-decoration: none;
    height: 50px;
    white-space: nowrap;
}

#page_title {
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    flex-grow: 2;
    color: $title-color;
    font: 1.5em $title-font;
    white-space: nowrap;
    padding-right: 100px;
    padding-left: 100px;
}
