@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

$font-stack: 'Poppins', sans-serif;
$primary-color: #FEFEFE;

$title-font: 'Fredoka One', cursive;
$title-color: white;

body {
    font: 100% $font-stack;
    color: $primary-color;
    margin:0;
    padding:0;
    background-color: #4a4a4a;
}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 100%
}

#menu {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

#menu a {
    text-decoration: none;
    font: 1.1em $font-stack;
    color: $title-color;
    padding-right: 20px;
}

#menu a:hover {
    text-decoration: underline;
}

#header-img {
    width: 35px;
    height: 35px;
    margin-top: 7px;
    margin-left: 10px;
    padding-right: 5px;
    display: inline;
    float: left;
}

#title {
    text-decoration: none;
    color: $title-color;
    margin-top: 0;
    display: inline;
    float: left;
}
