@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

$font-stack: 'Poppins', sans-serif;
$primary-color: #333;

$title-font: 'Fredoka One', cursive;
$title-color: white;

$link-color: #2196F3;

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main-content {
    overflow: hidden;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main-block {
    white-space: normal;
    width: 60%;
    padding-bottom: 40px;
    padding-left: 5%;
}

#logo-block {
    padding-left: 5%;
    padding-right: 5%;
}

#wayland-logo {
    width: 200px;
    height: 200px;
}

#visit-wiki {
    background-color: #000000;
    width: 200px;
    height: 40px;
    border-radius: 24px;
}

#visit-wiki h3 {
    text-align: center;
    color: white;
    line-height: 40px;
}

#visit-wiki h3 a {
    text-decoration: none;
}

#offical-docs {
    margin-top: 150px;
    width: 80%;
    border-top: 2px solid $link-color;
}

#offical-docs h2 {
    text-align: right;
}
