<head>
    <link rel="stylesheet" type="text/css" href="/wayki/header.css">
</head>

<div id="header">
    <a href="https://trimental.github.io/wayki">
        <img id="header-img" src="/wayki/images/WaylandLogo.svg">
        <h1 id="title">Wayki</h1>
    </a>
    <div id="menu">
        <a href="https://trimental.github.io/wayki">Home</a>
        <a href="wiki">Wiki</a>
    </div>
</div>


<head>
    <title>Wayki 404</title>
    <link rel="stylesheet" type="text/css" href="404.css">
</head>

<body>
    <div align="center"><h1 id="err-msg"> <span id="error">Error 404</span>. <span id="err-desc">Could not find that content :(</span> </h1></div>
</body>
