{% include "header.html" %}

<head>
    <title>Wayki</title>
    <link rel="stylesheet" type="text/css" href="landing.css">
</head>

<div id="main-content">
    <div id="main-block">
        <h2>A non-offical wayland wikipedia</h2>
        <h4>
            Working with display server protocols is hard work, however a large part of that work is documentation.
            <br><br>Wayki tries to document the wayland protocol and provide code examples in <a href="https://rust-lang.org">Rust</a> 
            using the <a href="https://github.com/Smithay">Smithay project</a>.
        </h4>
    </div>

    <div id ="logo-block">
        <img id="wayland-logo" src="images/WaylandLogo.svg"/>
        <div id="visit-wiki"><a href="wiki"><h3>Visit Wiki</h3></a></div>
    </div>
</div>

<div align="center">
    <div id="offical-docs">
        <h2>Offical documentation also exists...</h2>
        <h4>
            The wayland protocol of course has <a href="https://wayland.freedesktop.org/docs/html/">offical documentation</a> however Wayki
            is designed to be more user readable and trys to provide useful code examples.
            <br><br>
            There's also the <a href="https://smithay.github.io/wayland-rs/">wayland-rs developer docs</a>, meant for coding but can also
            provide insight into the protocols workings.
        </h4>
    </div>
</div>
